<launch>
	<!-- Start VRPN Client node: getting data from Optitrack -->
	<!-- Include  the file that contains your custom vrpn launch-->
	<!--include file="$(find tic_tac_drone)/launch/across.launch"/-->

	<!-- Start Optitrack node: calculating and distributing postion data -->
	<!--node pkg="qlearn_baxter" type="Optitrack.py" name="Optitrack">
		<remap from="Robot/pose" to="vrpn_client_node/kruna/pose"/>

	</node-->
	<include file="$(find baxter_moveit_config)/launch/planning_context.launch">
		<arg name="load_robot_description" value="true"/>
	</include>
	<include file="$(find baxter_moveit_config)/launch/move_group.launch"/>
	<node pkg="baxter_interface" type="joint_trajectory_action_server.py" name="joint_trajectory_action_server"/> 

	<node pkg="qlearn_baxter" type="BaxterArmServer.py" name="Server" output="screen"/>
	<node pkg="qlearn_baxter" type="BaxterMain.py" name="Main" output="screen">


</launch>